<li class="<%=  self_or_other(message) %>">
  <div class="chatboxmessagecontent">
    <div class="user-wrapper">
      <p class="username col-md-8"><strong><%= message_interlocator(message).name %></strong></p>
      <p class="col-md-8"><%= message.body %></p>
    </div>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
     • <%= message.created_at.strftime("%H:%M %p") %>
   </time>
  </div>
</li>
